{% extends 'layout3.html' %}

{% block head %}
    alarms
{% endblock %}

{% block nav %}
    <h1>{{ alarm }}</h1>
    <h2>{{ wakeup }}</h2>
{% endblock %}

{% block body %}
    <a href="{{ url_for('addalarm') }}"><img src="/static/images/iconsunadd.png" alt="add alarm"></a>
    {{ macro.monthpicker() }}
    <div class="holder">
        <div class="calendar">
            {{ kalender }}
        </div>
        <div class="expl">
            <p>
                Lorem ipsum dolor sit amet.
            </p>
        </div>
    </div>
{% endblock %}