{% import "macros/macros.html" as macro %}
<!-- Home + error -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block head %}
        {% endblock %}
         | shine + rise
    </title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/layout1.css") }}">
</head>
<body>
    <nav>
        <ul>
            {{ macro.navigatie(navlist=["alarms", "nights", "sleepcharts", "settings", "about"]) }}
        </ul>
    </nav>

    {% block body %}
    {% endblock %}

    <div class="menu">
        <div class="icon">
            <a href="{{ url_for('alarms') }}">
                <img src="static/images/iconsun.png" alt="sun">
                <h3>your alarms</h3>
            </a>
        </div>
        <div class="icon">
            <a href="{{ url_for('nights') }}">
               <img src="static/images/iconmoon.png" alt="moon">
               <h3>your nights</h3>
            </a>
        </div>
    </div>

</body>
</html>