{% import "macros/macros.html" as macro %}
<!-- Onboarding + about  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block head %}
        {% endblock %}
         | shine + rise
    </title>
    <link href='https://fonts.googleapis.com/css?family=Bree Serif' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cambay' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/layout1.css">
</head>
<body>
    <nav>
        <ul>
            {{ macro.navigatie(navlist=["about"]) }}
        </ul>
    </nav>

    <div class="layout1desc">
        {% block body %}
        {% endblock %}
    </div>


    <div class="layout1img">
        <img src="/static/images/wekker.jpg" alt="alarm clock">
    </div>

</body>
</html>